:root {
  // common
  --theme-color: #ff6600;
  --hover-color: #f24405;
  --theme-white: #f9b49b;
  --main-text: #1c1c1c;
  --theme-line: #e6ecf0;
  --just-white: #ffffff;
  --valid: #50b5ff;
  --invalid: #fc5a5a;
  --info: #657786;
  --placeholder: #9197a3;
  // user login and regist page
  --input-background: #f5f8fa;
  --hover-color: #f24405;
  --focus-color: #f2884b;
  --router-link: #0099ff;
  // for modal
  --modal-background-center: rgba(128, 128, 128, 15%);
  --modal-background-around: rgba(0, 0, 0, 60%);
  // for modal reply
  --avatar-connect: #ccd6dd;
  // right column
  --column-background-color: #f5f8fa;
  --avatar-img-background: #c4c4c4;
  // profile like list
  --like-icon: #e0245e;
  // chat room
  --dark-100: #171725;
  --dark-70: #92929d;
  --theme-secondary: #6c757d;
  --pill-background: #e5e5e5;
}
