.modal {
  // modal background
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  padding: 0 10%;

  //  延遲關閉modal，顯示 modal background 過場動畫
  //  最少要跟整個元件的最後一個 leave-active 動畫同時
  --modal-leave-delay: 0.35s;

  &.delay-leave-active {
    transition: none var(--modal-leave-delay);
  }

  .modal-background {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100%;

    // for 不支援漸變屬性瀏覽器
    background-color: var(--modal-background-around);

    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);

    // for modal background
    &.fade-enter,
    &.fade-leave-to {
      opacity: 0;
      backdrop-filter: blur(0px);
    }

    &.fade-enter-to,
    &.fade-leave {
      opacity: 1;
      backdrop-filter: blur(3px);
    }

    &.fade-enter-active {
      transition: opacity 1.6s ease-in-out, backdrop-filter 1.6s ease-in-out;
    }

    &.fade-leave-active {
      transition: opacity var(--modal-leave-delay) ease-in-out,
        backdrop-filter var(--modal-leave-delay) ease-in-out;
    }
  }
}

.modal-dialog {
  // 供過渡動畫定位
  position: relative;

  margin: $modal-height auto 0;
  border-radius: 14px;

  font-weight: 500;

  transition: all 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.285);

  background-color: var(--just-white);
  // css scan #26
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

  // vue transition
  // for modal dialog
  &.slide-enter,
  &.slide-leave-to {
    transform: translateY(calc(-#{$modal-height} - 100%));
  }

  &.slide-enter-to,
  &.slide-leave {
    transform: none;
  }

  &.slide-enter-active,
  &.slide-leave-active {
    // dialog 離開動畫要大於 modal-leave-delay，避免出現一幀破圖
    transition: transform 0.5s cubic-bezier(0.8, 0, 0.15, 1.4);
  }

  .modal-header {
    padding: 15px;
  }

  //  The Close Button
  button.close {
    cursor: pointer;
    transition: transform 0.35s ease-out;
    transform: scale(100%);

    width: 24px;
    height: 24px;

    &:hover,
    &:focus {
      svg > path {
        fill: var(--hover-color);
      }
    }
  }

  hr {
    height: 1px;
    background-color: var(--theme-line);
  }
}

// 輸入框聚焦顏色
.modal-body {
  input,
  textarea {
    transition: color 0.35s ease-out;
    color: var(--placeholder);

    &:focus {
      color: var(--main-text);
    }
  }
}
